{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controle Financeiro</title>

    <!-- BT -->
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
    <!--<link rel="stylesheet" href="{% static 'style.css' %}"> -->
</head>
{% if user.is_authenticated %}
<div class="container">
    <nav class="nav">
        <ol>
            <li><a type="button" href="{% url 'editar_perfil' %}" class="btn-index btn-index" style="text-decoration:none;">
                <img style="position:relative;width:32px;height:32px;border-radius:32px" alt src="{% static 'profile_image_dummy.svg' %}">
            </a></li>
            <a type="button" href="{% url 'logout' %}" class="btn-index btn-index">
                <img style="position:relative;width:32px;height:32px;border-radius:32px" alt src="{% static 'logout.svg' %}">
            </a></li>
        </ol>
    </nav>
</div>
{% endif %}
<body>
    {% block content %} {% endblock %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>